@model IEnumerable<ClimaAdmin.Models.Empresas>

@{
    ViewBag.Title = "Empresas";
}

<h2>Empresas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Empresa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Empresa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cod_empresa }) |
            @Html.ActionLink("Details", "Details", new { id=item.cod_empresa }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cod_empresa })
        </td>
    </tr>
}

</table>
