@model IEnumerable<ClimaAdmin.Models.Afirmaciones>

@{
    ViewBag.Title = "Afirmaciones";
}

<h2>Afirmaciones</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Enunciado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Enunciado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdAfirmacion }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdAfirmacion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdAfirmacion })
        </td>
    </tr>
}

</table>
