@model ClimaAdmin.Models.Preguntas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Preguntas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Enunciado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enunciado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dimensiones.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dimensiones.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdPregunta }) |
    @Html.ActionLink("Back to List", "Index")
</p>
