@model IEnumerable<ClimaAdmin.Models.Preguntas>

@{
    ViewBag.Title = "Preguntas";
}

<h2>Preguntas abiertas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Enunciado)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Dimensiones.Nombre)*@
            Dimensión
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Enunciado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dimensiones.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdPregunta }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdPregunta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdPregunta })
        </td>
    </tr>
}

</table>
